.modal__activity-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  color: #51D4BF;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5rem;

  h3 {
    color: rgba(9, 11, 23, 0.95);
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  .activity__details-info {
    display: flex;
    padding: 0 0.5rem;
    align-items: baseline;

    i {
      margin-right: 0.5rem;
    }

  }
}

.modal__activity-details__more {
  margin: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 40rem;

  .activity__details-booking-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;

    p {
      font-size: 0.8rem;
      color: rgba(9, 11, 23, 0.35);
      text-align: justify;
    }

    span {
      color: rgba(9, 11, 23, 0.75);
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.modal__close-button {
  height: 1rem;
  width: 1rem;
  border: 0;
  font-size: 0.8rem;
  color: #a9aaae;
  background-color: #FFF;
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0;
}

.modal__image-container {
  position: relative;

  .modal__pictures-controller {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(245 245 245 / 90%);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;

    i {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }

  &:hover {
    .modal__pictures-controller {
      opacity: 1;
    }
  }

  .active-icon {
    opacity: 1;
  }

  .inactive-icon {
    opacity: 0;
    pointer-events: none;
  }
}