$font-family: "DM Sans";
$letter-spacing: 0.02rem;
$primary-color: #51D4BF;
$secondary-color: #EAC435;

@mixin dm-sans-font {
  font-family: $font-family;
  letter-spacing: $letter-spacing;
}

.package-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 45px;
}

.package-card {
  margin: 12px;
  border-radius: 10px;
  
   @include dm-sans-font();
  
   #package-card-media {
    height: 140px;
    width: 25rem;
    height: 16rem;
   }

   .card-content-wrapper {
    display: flex;
    justify-content: center;
    font-style: italic;

     #card-content {
      border-bottom: 1px solid lightgrey;
      width: 88%;
     }
   }

   .package-name {
     @include dm-sans-font();
   }

   .button-delete-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: auto;
    margin-left: 1rem;
    margin-right: 1rem;

     #reserve-button {
      margin: 8px;
      width: 8.5rem;
      border-radius: 25px;
      background-color:$secondary-color ;
      height:3rem ;
      font-size :1.2rem ;
      color:black ;
     }

     #delete-icon {
      color :grey ;
      cursor:pointer ;
      font-size :40px ;
     }
   }
}
