.activity-list__item {
  position: relative;
  background-color: #51D4BF;
  border-radius: 10px;
  width: 25rem;
  height: min-content;
  margin: 1rem;

  .activity__photo {
    width: 25rem;
    height: 16rem;
    border-radius: 10px 10px 0 0;
  }

  .activity__details {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: normal;

    .activity__details-right {
      display: flex;
    }

    .activity__details-info {
      display: flex;
      padding: 0 0.5rem;
      align-items: baseline;

      i {
        margin-right: 0.5rem;
      }

    }

  }

  //END OF LANDING PAGE STYLES


  //BELOW: ADDITIONAL STYLES FOR EXPANDED FAV PAGE PHOTOCARD

  .activity__details-more {
    margin: 0 0.5rem 0.5rem 0.5rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .activity__details-booking-info {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      width: 100%;

      p {
        font-size: 0.8rem;
        color: rgba(9, 11, 23, 0.35);
      }

      span {
        color: rgba(9, 11, 23, 0.75);
        font-size: 1rem;
        font-weight: 500;
      }
    }

  }

}