nav .nav-form {
  width: 65%;
}

nav {
  margin-bottom: 4rem;
}

nav .logo {
  margin-bottom: 1rem;
}

body h1 {
  font-size: 1.5rem;
}

.fav-badge {
  top: 1.6rem;
  right: 1.5rem;
}

.hamburger-menu {
  top: 1.6rem;
  right: 5rem;
}

.nav-category .nav-category__menu {
  margin-top: 1rem;
}

.activity-list__item .activity-list__item_container .activity__photo {
  /* width: 50vw; */
  /* width: 100%; */
  width: 25rem;
}